.zoomroom {
  /* background-image: url(../../images/zoomroom/Backgroundimage.png); */
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  color: #142f53 !important;
  margin-bottom: 200px;
}
.note {
  background-color: rgba(59, 131, 246, 0.897);
  margin: 2%;
  color: #f4f4f4;
  height: 80px;
  text-align: center;
}

.note_info a {
  color: yellow;
}
